<div class="panel panel-default">
  <div class="panel-body">
  <h1 class="text-center">Profile</h1>
    <div class="row">
      <div class="col-md-4">
      <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar, class: 'avatar' %>
      <% end %>
      </div>
      <div class="col-md-7 col-md-offset-1">
      <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Name:</strong></td>
                <td><%= @user.name %></td>
              </tr>
              <tr>
                <td><strong>Email:</strong></td>
                <td><%= @user.email %></td>
              </tr>
              <tr>
                <td><strong>Age:</strong></td>
                <td><%= @user.age %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <p>
<%= link_to "Edit", edit_user_registration_path %>
</p>
  </div>
</div>

<style>
  .avatar {
    width: 100%;
    height: auto;
  }
</style>
