<%= form_with(model: film) do |form| %>
  <% if film.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(film.errors.count, "error") %> prohibited this film from being saved:</h2>

      <ul>
        <% film.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 <div class="table-responsive">
  <table class="table">
  <tbody>

    <tr>
      <td class="field"><%= form.label :title %></td>
      <td><%= form.text_field :title %></td>
    </tr>

    <tr>
      <td class="field"><%= form.label :description %></td>
      <td><%= form.text_field :description %></td>
    </tr>

    <tr>
      <td class="field"><%= form.label :genre %></td>
      <td><%= form.text_field :genre %></td>
    </tr>

    <tr>
      <td class="field"><%= form.label :episode %></td>
      <td><%= form.number_field :episode %></td>
    </tr>
  
  </tbody>
  </table>
  </div>

  <div class="field">
    <%= form.label :thumbnail %>
    <%= form.file_field :thumbnail %>
  </div>

  <div class="field">
    <%= form.label :trailer %>
    <%= form.file_field :trailer %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

