<%= form_with(model: film_review) do |form| %>
  <% if film_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(film_review.errors.count, "error") %> prohibited this film_review from being saved:</h2>

      <ul>
        <% film_review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :film_id %>
    <%= form.number_field :film_id %>
  </div>

  <div class="field">
    <%= form.label :review %>
    <%= form.text_area :review %>
  </div>

  <div class="field">
    <%= form.label :rate %>
    <%= form.number_field :rate %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
