<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <%= link_to "Film Reviews", root_path, class: "navbar-brand" %>
    </div>

    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse" id="menuCollapse">
        <ul class="nav navbar-nav navbar-left mr-auto">
          <% if user_signed_in? %>
            <li  class="nav-item"><%= link_to "New Film", new_film_path %></li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right mr-auto">
          <% if user_signed_in? %>
            <li><%= link_to current_user.name, users_show_path %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign Up", new_user_registration_path, class: "active" %></li>
            <li><%= link_to "Sign In", new_user_session_path, class: "active" %></li>
          <% end %>
        </ul>
        <%= form_tag(films_path, method: :get, class:'form-inline my-2 my-lg-0', style: 'margin: 6px') do %>
          <%= text_field_tag :term, params[:term], class: 'form-control mr-sm-2' %>
          <%= submit_tag 'Search', class: 'btn btn-outline-success my-2 my-sm-0' %>
        <% end %>
    </div><!-- /.navbar-collapse -->
</nav>